**/node_modules/
/dist/
/analysis/
/coverage/

# Logs
npm-*.log
yarn-*.log
.pnpm-*.log

# Vite's temp config file
/vite.config.ts.js
/peeky.config.ts*.temp.*js

# env
.env.local
.env.*.local
!/.env.example.local

# Misc
.DS_Store
/.dccache
